.Home{
    margin-top: 10px;
    width: 88%;
    margin-left: 6%;


}
.eggggg{
    background-color: #184064;
    color: white;
    border: 1px solid;
    border-radius: 7px;
    padding: 4px;
    font-weight: 400;
}

